<section class="gallery-section">
  <div class="container-images">
    <div class="container-images__first">
      <img
        src="./images/gallery1-D-1x.jpg"
        alt="kaki Ice-Cream"
        class="container-images__image"
        srcset="
          ./images/gallery1-D-1x.jpg 1600w,
          ./images/gallery1-M-1x.jpg  768w,
          ./images/gallery1-T-1x.jpg 1200w
        "
        sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
      />
      
    </div>
    <div class="container-images__second">
      <div>
        <img
          src="./images/gallery2-D-1x.jpg"
          alt="cone Ice-Cream"
          class="container-images__image"
          srcset="
            ./images/gallery2-D-1x.jpg 1600w,
            ./images/gallery2-M-1x.jpg  768w,
            ./images/gallery2-T-1x.jpg 1200w
          "
          sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
        />
        
      </div>
      <div>
        <img
          src="./images/gallery3-D-1x.jpg"
          alt="Ice-Cream on stick"
          class="container-images__image"
          srcset="
            ./images/gallery3-D-1x.jpg 1600w,
            ./images/gallery3-M-1x.jpg  768w,
            ./images/gallery3-T-1x.jpg 1200w
          "
          sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
        />
        
      </div>
    </div>
    <div class="container-images__third">
      <div>
        <img
          src="./images/gallery4-D-1x.jpg"
          alt="fruit Ice-Cream"
          class="container-images__image"
          srcset="
            ./images/gallery4-D-1x.jpg 1600w,
            ./images/gallery4-M-1x.jpg  768w,
            ./images/gallery4-T-1x.jpg 1200w
          "
          sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
        />
        
      </div>
      <div>
        <img
          src="./images/gallery5-D-1x.jpg"
          alt="girl with Ice-Cream"
          class="container-images__image"
          srcset="
            ./images/gallery5-D-1x.jpg 1600w,
            ./images/gallery5-M-1x.jpg  768w,
            ./images/gallery5-T-1x.jpg 1200w
          "
          sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
        />
        
      </div>
    </div>
    <div class="container-images__fourth">
      <div>
        <img
          src="./images/gallery7-D-1x.jpg"
          alt="Ice-Cream dessert"
          class="container-images__image"
          srcset="
            ./images/gallery6-D-1x.jpg 1600w,
            ./images/gallery6-M-1x.jpg  768w,
            ./images/gallery6-T-1x.jpg 1200w
          "
          sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
        />
        
      </div>
      <div>
        <img
          src="./images/gallery7-D-1x.jpg"
          alt="Ice-Cream photo"
          class="container-images__image"
          srcset="
            ./images/gallery7-D-1x.jpg 1600w,
            ./images/gallery7-M-1x.jpg  768w,
            ./images/gallery7-T-1x.jpg 1200w
          "
          sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
        />
        
      </div>
    </div>
    <div class="container-images__fifth">
      <div>
        <img
          src="./images/gallery9-D-1x.jpg"
          alt="dog and Ice-Cream"
          class="container-images__image"
          srcset="
            ./images/gallery8-D-1x.jpg 1600w,
            ./images/gallery8-M-1x.jpg  768w,
            ./images/gallery8-T-1x.jpg 1200w
          "
          sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
        />

        
      </div>
      <div>
        <img
          src="./images/gallery9-D-1x.jpg"
          alt="glass with frappuccino"
          class="container-images__image"
          srcset="
            ./images/gallery9-D-1x.jpg 1600w,
            ./images/gallery9-M-1x.jpg  768w,
            ./images/gallery9-T-1x.jpg 1200w
          "
          sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
        />
        
      </div>
    </div>
    <div class="container-images__sixth">
      <img
        src="./images/gallery10-D-1x.jpg"
        alt="Ice-Cream in a jar"
        class="container-images__image"
        srcset="
          ./images/gallery10-D-1x.jpg 1600w,
          ./images/gallery10-M-1x.jpg  768w,
          ./images/gallery10-T-1x.jpg 1200w
        "
        sizes="(max-width:769px) 100vw, (max-width:1200px) 50vw, 1200px"
      />
      
    </div>
  </div>
</section>
